@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #093257;
  --screen-max: 1536px;
}

html,
body {
  width: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.text-foreground {
  color: var(--foreground);
}

.bg-foreground {
  background-color: var(--foreground);
}

.nav-active {
  background-color: white;
  color:theme('colors.primary');
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

/* .bg-limiter {
  background-color: inherit;
  max-width: var(--screen-max);
  margin: 0 auto;
} */

.social-icon {
  display: block;
  width: 16px !important;
  height: auto;
  object-fit: contain;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%)
    contrast(101%);
}
.social-icon:hover {
  filter: invert(72%) sepia(85%) saturate(366%) hue-rotate(173deg)
    brightness(93%) contrast(89%);
}

/* For Skillcards component */
/* .skills-icon { 
  width: 80px;
  height: 80px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%)
    contrast(101%);
} */

/* .hover-pause:hover .animate-infinite-scroll {
  animation-play-state: paused;
}

.animate-infinite-scroll {
  animation: scroll 30s linear infinite;
}

.skill-item {
  position: relative;
  transition: all 0.3s ease-out;
  z-index: 1;
}

.skill-item:hover {
  transform: scale(1.1);
  z-index: 50;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
} */ 



/* Only for Tailwind icon */
.filter-white {
  width: 80px;
  height: 80px;
  /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%) contrast(101%); */
}

@keyframes container-slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-container-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

.translate-y-full {
  transform: translateY(6rem); 
}
.translate-y-0 {
  transform: translateY(2rem);
}

.container-wrapper, .container-wrapper-info {
  /* width: 100%; */
  bottom: 2rem;
  transition: transform 0.3s ease-out;
}

.icon-style {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%)
    contrast(101%);
}

/* .icon-wrapper {
  margin-bottom: -1rem;
  background-color: #1e3a8a; 
  border-radius: 50%;
  padding: 0.5rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */


.skill-card {
  /* transition: transform 0.3s ease-in-out;
  position: relative;
  display: inline-block; */
  position: relative;
  /* transform-origin: center;
  will-change: transform; */
}

/* .skill-card:hover {
  transform: scale(1.1);
  z-index: 10; 
} */
.skills-content {
  /* overflow: hidden;  */
  position: relative;
  /* width: 100%; */
} 
.skills-wrapper {
  position: relative;
  padding: 20px 0;
  /* display: flex;
  align-items: center;  */
}
/* .marquee-wrapper {
  width: 100%;
  overflow: hidden; 
} */

.skills-icon {
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 80px;
}

.overlay-slide {
  transform: translateY(-100%);
}

.overlay-slide.active {
  transform: translateY(0);
}
