@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
  font-family: 'Poppins', sans-serif;
}

input, textarea, button, label {
  font-family: 'Poppins', sans-serif;
}


:root {
  --background: #d2d7df;
  --foreground: #1d2d44;
  --screen-max: 1536px;
  --primary: black;
  --secondary: #d2d7df;
  --accent: #de369D;
  --background-image: url('/images/connected.png');
}

html,
body {
  width: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.text-foreground {
  color: var(--foreground);
}

/* .bg-foreground {
  background-color: var(--foreground);
} */

.nav-active {
  background-color: white;
  color: theme("colors.primary");
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

.social-icon {
  display: block;
  width: 16px !important;
  height: auto;
  object-fit: contain;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%)
    contrast(101%);
}

.social-icon:hover, .icon-style:hover {
  filter: invert(37%) sepia(95%) saturate(1642%) hue-rotate(297deg)
    brightness(91%) contrast(97%);
}

.icon-style {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%)
    contrast(101%);
}

.skills-icon {
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 80px;
}

/* Validation for form */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/* Style for Activity Cards rotation */
.card {
  perspective: 1000px; /* Perspective for 3D effect */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* border-radius: 0.5rem; */
}


.card-back {
  /* background: #122558; */
  color: white;
  transform: rotateY(180deg);
}

.photo {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
  overflow: hidden;  
}

.photo img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}


.connected-background {
  background-color: var(--background); 
  background-image: var(--background-image); 
  background-size: 50 px 50px;
  background-attachment: fixed;
  background-repeat: repeat; 
}


.title-home {
  @apply text-5xl md:text-6xl font-bold text-primary mb-4 leading-tight;
  letter-spacing: 2px; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}
